# dependencies
/node_modules

# next.js
/.next/
/out/
/.open-next/
build/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.env.test.local
.vscode-test

# local env files
.env*.local
.env.*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Temporary files
*.tmp
*.temp
.cache/

# Logs
logs/
*.log

# Node-RED (if using locally)
flows_cred.json
flows.json
node_modules/
.node-red/

.env*
